<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.inventaristoko">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SecondTheme">
        <activity
            android:name=".Screens.Front.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Screens.Front.HomeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Screens.Front.LoginActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Screens.Front.ChangePasswordActivity"
            android:parentActivityName=".Screens.Penjualan.PenjualanActivity" />
        <activity
            android:name=".Screens.Penjualan.PenjualanActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Screens.Penjualan.PenjualanDetailActivity"
            android:parentActivityName=".Screens.Penjualan.PenjualanActivity" />
        <activity
            android:name=".Screens.Pengguna.PenggunaActivity"
            android:parentActivityName=".Screens.Penjualan.PenjualanActivity" />
        <activity
            android:name=".Screens.Pengguna.PenggunaDetailActivity"
            android:parentActivityName=".Screens.Pengguna.PenggunaActivity" />
        <activity
            android:name=".Screens.Pengguna.PenggunaEntryActivity"
            android:parentActivityName=".Screens.Pengguna.PenggunaActivity" />
        <activity
            android:name=".Screens.Meja.MejaActivity"
            android:parentActivityName=".Screens.Penjualan.PenjualanActivity" />
        <activity
            android:name=".Screens.Meja.MejaDetailActivity"
            android:parentActivityName=".Screens.Meja.MejaActivity" />
        <activity
            android:name=".Screens.Meja.MejaEntryActivity"
            android:parentActivityName=".Screens.Meja.MejaActivity" />
        <activity
            android:name=".Screens.BahanPokok.BahanPokokActivity"
            android:parentActivityName=".Screens.Penjualan.PenjualanActivity" />
        <activity
            android:name=".Screens.BahanPokok.BahanPokokDetailActivity"
            android:parentActivityName=".Screens.BahanPokok.BahanPokokActivity" />
        <activity
            android:name=".Screens.BahanPokok.BahanPokokEntryActivity"
            android:parentActivityName=".Screens.BahanPokok.BahanPokokActivity" />
        <activity
            android:name=".Screens.Kategori.KategoriActivity"
            android:parentActivityName=".Screens.Penjualan.PenjualanActivity" />
        <activity
            android:name=".Screens.Kategori.KategoriDetailActivity"
            android:parentActivityName=".Screens.Kategori.KategoriActivity" />
        <activity
            android:name=".Screens.Kategori.KategoriEntryActivity"
            android:parentActivityName=".Screens.Kategori.KategoriActivity" />
        <activity
            android:name=".Screens.Makanan.MakananActivity"
            android:parentActivityName=".Screens.Penjualan.PenjualanActivity" />
        <activity
            android:name=".Screens.Makanan.MakananDetailActivity"
            android:parentActivityName=".Screens.Makanan.MakananActivity" />
        <activity
            android:name=".Screens.Makanan.MakananEntryActivity"
            android:parentActivityName=".Screens.Makanan.MakananActivity" />
        <activity
            android:name=".Screens.Resi.ResiActivity"
            android:parentActivityName=".Screens.Penjualan.PenjualanActivity" />
        <activity
            android:name=".Screens.Resi.ResiDaftarActivity"
            android:parentActivityName=".Screens.Resi.ResiActivity" />
        <activity
            android:name=".Screens.Resi.ResiDetailActivity"
            android:parentActivityName=".Screens.Resi.ResiActivity" />
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>